<ul>
	<center>
		<img src="https://www.hesaplama.net/images/vki.gif" alt="Vücut Kitle Endeksi Tablosu">
		<h3>How is the Body Mass Index calculated?</h3>
	</center>
	

	<p>Body mass index is obtained by dividing your body weight by the square of your height. As a result, the body mass index is evaluated in the following intervals.
	</p>

	<h6 class="font-weight-bold">Weak</h6>

	<p>Indicates that you are not in the proper weight according to your height and that you are weak. Weakness is a risky and undesirable condition for some diseases. You should be well-balanced and balanced to reach the appropriate weight for your height and take care to improve your eating habits.</p>
	<h6 class="font-weight-bold">Normal</h6>

	<p>Indicates that you have the appropriate weight according to your height. Take care to protect your weight by having adequate and balanced nutrition and regular physical activity.</p>
	<h6 class="font-weight-bold">Overweight</h6>

	<p>Indicates your body weight is higher than your height. Overweight leads to obesity (obesity), which is a risk factor for many diseases unless the necessary precautions are taken.</p>
	<h6 class="font-weight-bold">Fat (Obese) - Class I</h6>

	<p>According to your height, your body weight is overweight, in other words, is an indication that you are fat. Obesity, cardiovascular diseases, diabetes, hypertension, etc. are risk factors for chronic diseases. It is very important for your health to go to a health facility by decreasing in the control of a physician / dietician. Please contact your health care provider.</p>
	<h6 class="font-weight-bold">Fat (Obese) - II. Class</h6>

	<p>According to your height, your body weight is overweight, in other words, is an indication that you are fat. Obesity, cardiovascular diseases, diabetes, hypertension, etc. are risk factors for chronic diseases. It is very important for your health to go to a health facility by decreasing in the control of a physician / dietician. Please contact your health care provider.</p>

	<h6 class="font-weight-bold">Overweight (Over Obese) - III. Class</h6>

	<p>According to your height, your body weight is overweight, in other words, is an indication that you are fat. Obesity, cardiovascular diseases, diabetes, hypertension, etc. are risk factors for chronic diseases. It is very important for your health to go to a health facility by decreasing in the control of a physician / dietician. Please contact your health care provider.</p>

	<h2>
		<%= link_to 'Resources', href="https://vucut-kitle-endeksi.hesaplama.net/"%>
	</h2>

	
	

</ul>



