<center>
    <div class="col-md-10 col-md-offset-1">
        <div class="card" style="width: 68rem; height: 30rem;">
          <div class="card-body">
            
            <h1 class="card-title">What's about ?</h5>
            
            <h6 class="card-subtitle mb-2 text-muted"></h6>
            <p class="card-text">Kullanıcıların kilo ve boylarını girerek ideal kilolarını hesaplayan web uygulamasıdır.</p>
            
            <h5>kullanılan teknolojiler</h5>
            
            <p>Ruby on Rails</p>
            <p>Bootstrap</p>
            <p>Heroku</p>
            <p>Postgresql</p>
            

            <h5>Eklenecekler</h5>
            
            <p>Haftalık ve Aylık kilo farkı</p>
            <p>Haftalık ve Aylık listeyi pdf formatına çevirme</p>
            <p>Kullanıcı mailllerini kontrol etme ve onaylama </p>
            
            

          </div>
        </div>
    </div>
</center>